<h1> Find Your Character Bruh!!</h1>

<form method="post" action="/">
  <p> What kind of emotions do you have?</p>
  <textarea name="user_text"></textarea>
  <br>
  <p> What's your favorite color? </p>
  <textarea name="user_text"></textarea>
  <br>
  <p> Do you enjoy outdoors? </p>
  <textarea name="user_text"></textarea>
  <br>
  <input type="submit">
</form>