<!DOCTYPE html>
<html>
  <head>
    <title>Who's Your Character?</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
     <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body>
    <img src="https://d13yacurqjgara.cloudfront.net/users/5976/screenshots/2272778/open-uri20151002-3-mg37hn">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
          </a>
        </div>
      </div>
    </nav>


    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>